/* login.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Đổi màu nền thành đen */
}

.auth-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #333; /* Đổi màu nền thành màu xám đậm */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* Đổi màu chữ thành trắng */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #fff; /* Đổi màu chữ thành trắng */
}
input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Đổi màu nền input thành xám nhạt */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    color: #fff; /* Đổi màu chữ thành trắng */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3; /* Đổi màu chữ khi hover */
}
